
<h1>
  <%= @article.title %>
  <small>
    <%= link_to icon('far', 'edit'), edit_article_path %>
    <%= link_to icon('far', 'trash-alt'), article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
  </small>
</h1>
<h3><%= @article.content %></h3>
<hr>
<%= link_to 'Back to list', articles_path, class: 'btn btn-info mt-2' %>
